{% extends "inc/base.html" %}

{% block content %}
        <div class="row">
        {% if mode == 'new' %}
          <div class="col-6">
              <h2>New questions</h2>
          </div>
          <div class="col-6">
            <a href="{% url "hot" %}">Hot questions</a>
          </div>
            {% elif mode == 'hot' %}
          <div class="col-6">
              <h2>Hot questions</h2>
          </div>
          <div class="col-6">
            <a href="{% url "index" %}">New questions</a>
          </div>
        {% endif %}
        </div>

    {% for question in page_obj %}
        {% include "inc/question_item.html" %}
    {% endfor %}


    {% include "inc/paginator.html" %}
{% endblock %}