{% extends "inc/base.html" %}

{% load static %}

{% block content %}


<h1>Settings: Dr. Pepper</h1>
      <hr>
  <main>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-3">
              <label for="login" class="form-label">Login</label>
            </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="login" placeholder="" value="" required>
                <div class="error-message">
                  Wrong login
                </div>
              </div>
            </div>

          <div class="row g-3">
            <div class="col-sm-3">
              <label for="email" class="form-label">Email</label>
              </div>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="error-message">
                  Wrong email
                </div>
            </div>
          </div>

          <div class="row g-3">
            <div class="col-sm-3">
              <label for="nickname" class="form-label">Nickname</label>
              </div>
            <div class="col-sm-9">
              <input class="form-control" id="nickname">
              <div class="error-message">
                  This nickname is not available, try another one.
                </div>
            </div>
          </div>



          <div class="row g-3">

            <div class="col-sm-3">
              <label for="avatar" class="form-label">Upload avatar</label>
              </div>
            <div class="col-sm-9">
                <div class="avatar">
                <img src="../static/img/avatar-4.jfif" alt="avatar-4"/>
              </div>
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="avatar">
              </div>
              <div class="error-message">
                  Try again.
                </div>
            </div>
          </div>

          <button type="submit">Save!</button>
        </form>
      </div>
  </main>


 {% endblock %}