{% load static %}

<div class="question">
          <div class="row">
            <div class="col-3">
              <div class="avatar">
                <img src="{% static "img/avatar-1.jfif" %}" alt={{ question.avatar }}/>
              </div>
              <div class="js-voting-container d-flex jc-center fd-column ai-stretch gs4 fc-black-200">
                  <div class="js-vote-count flex--item d-flex fd-column ai-center fc-black-500 fs-title"
                       itemprop="upvoteCount"
                       data-value="0"
                  >
                      0
                  </div>
                  <button class="js-vote-up-btn"
                          data-controller="s-tooltip"
                          data-s-tooltip-placement="right"
                          title="This question shows research effort; it is useful and clear"
                          aria-pressed="false"
                          aria-label="Up vote"
                          data-selected-classes="fc-theme-primary"
                          data-unselected-classes="">
                      <svg aria-hidden="true" class="svg-icon iconArrowUpLg" width="18" height="18" viewBox="0 0 19 10">
                        <path d="M1 12h19L9 2 1 12Z"/></svg>
                  </button>

                  <button class="js-vote-down-btn"
                          data-controller="s-tooltip"
                          data-s-tooltip-placement="right"
                          title="This question does not show any research effort; it is unclear or not useful"
                          aria-pressed="false"
                          aria-label="Down vote"
                          data-selected-classes="fc-theme-primary"
                          data-unselected-classes="">
                      <svg aria-hidden="true" class="svg-icon iconArrowDownLg" width="18" height="18" viewBox="0 0 19 10">
                        <path d="M1 3h19L9 13 1 3Z"/></svg>
                  </button>
              </div>
            </div>
            <div class="col-9">
              <h3 class="question-title">
                  <a href="{% url "question" question_id=question.id %}">{{ question.title }}</a>
              </h3>
              <div class="question-text">
                {{ question.text }}
              </div>
              <div class="row">
                <div class="col-5">
                  <a href="{% url "question" question_id=question.id %}">answers({{ question.answers_number }})</a>
                </div>
                <div class="col-7">
                  tags:
                    {% for tag in question.tags %}
                        <a href="{% url "tag" tag_name=tag %}">tag</a>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
</div>
